<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div>水果列表</div>
        <div>
            <ul>
                <li v-for='item in fruits'>{{item}}</li>
                <li>--------------------------------</li>
                <li v-for='(item, index) in fruits'>{{'下标是:' + index + ',水果名称是:' + item}}</li>
                <li>--------------------------------</li>
                <!-- 
                    一般而言:key的值都是唯一的
                    :key的作用,帮助Vue区分不同的元素,从而提升遍历的性能
                    遍历的是普通数组的话,不需要:key,如果数组中存放的是对象的话,就需要添加:key
                 -->
                <li :key='item.id' v-for='(item, index) in myFruits'>
                    <span>{{item.ename}}</span>
                    <span>------</span>
                    <span>{{item.cname}}</span>
                </li>
            </ul>
        </div>
    </div>
</body>
<script src="./js/vue.js"></script>
<script>
    // 循环遍历数组结构
    var vm = new Vue({
        el: '#app',
        data: {
            fruits: ['apple', 'orange', 'banana'],
            myFruits: [{
                id: 1,
                ename: 'apple',
                cname: '苹果'
            },{
                id: 2,
                ename: 'orange',
                cname: '橘子'
            },{
                id: 3,
                ename: 'banana',
                cname: '香蕉'
            }]
        }
    });
</script>
</html>