div {
  width: 150px;
  height: 400px;
  border: 10px solid red;
  background-color: #444444;
}
img {
  width: 30px;
}
/*
    注意:
        运算符的两侧都需要有空格
        两个数参与运算,如果只有一个数有单位,那么最后的结果就是以这个单位为基准
        两个数参与运算,如果2个数都有单位,而且单位不同.那么最后的结果以第一个单位为准
*/
