.header {
  width: 200px;
  height: 200px;
  background-color: pink;
  /*
        less中的样式嵌套
        由于a标签是被包含在div标签中的
        所以在less中,a标签的样式可以嵌套在div标签的样式中
    */
}
.header a {
  color: red;
}
.header a:hover {
  color: blue;
}
.nav .logo {
  color: green;
}
.nav::before {
  content: "";
}
