/* 公共样式 */
.fl {
    float: left;
}
.fr {
    float: right;
}
/* 声明字体图标的样式 */
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?7kkyc2');
    src:  url('../fonts/icomoon.eot?7kkyc2#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?7kkyc2') format('truetype'),
    url('../fonts/icomoon.woff?7kkyc2') format('woff'),
    url('../fonts/icomoon.svg?7kkyc2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* 添加字体图标的样式 */
.fr .icomoon {
    font-family: 'icomoon';
    font-size: 16px;
    /* 行高小于高度,文字向上移动 */
    line-height: 26px;
}
/* 版心 */
.w {
    /* 版心盒子的宽度 */
    width: 1200px;
    /* 版心盒子居中对齐 */
    margin: 0 auto;
}
.style-red {
    color: #c81632;
}
/* 顶部导航栏小竖线的样式 */
.spacer {
    width: 1px;
    height: 12px;
    background-color: #666;
    /* 小竖线本身就是一个盒子,盒子添加外边距撑开 */
    margin: 9px 12px 0;
}
/* 顶部快捷导航栏 */
.shortcut {
    height: 31px;
    background-color: #f1f1f1;
    /* 行高和高度相等,内容居中对齐 */
    line-height: 31px;
}
.shortcut li {
    float: left;
}
/* header区域 */
.header {
    /* 父元素相对定位 */
    position: relative;
    height: 105px;
}
.logo {
    /* 子元素绝对定位 */
    position: absolute;
    top: 25px;
    left: 0;
    width: 175px;
    height: 56px;
}
.logo a {
    /* 行内元素转为快级元素 */
    display: block;
    width: 175px;
    height: 56px;
    background: url(../img/logo.png) no-repeat;
    /* 把a标签中的字体大小设置为0来隐藏a标签中的文字 */
    font-size: 0;
}
.search {
    position: absolute;
    top: 25px;
    left: 348px;
}
/* 通过添加浮动的方法消除搜索框和搜索按钮之间的空隙 */
.search .text {
    float: left;
    width: 445px;
    height: 32px;
    border: 2px solid #b1191a;
    /* 搜索框设置左边宽度,保证提示文字和搜索框之间有范围 */
    padding-left: 10px;
    color: #ccc;
}
.search .btn {
    float: left;
    width: 82px;
    height: 36px;
    background-color: #b1191a;
    /* 去除按钮的边框 */
    border: 0;
    font-size: 16px;
    color: #fff;
}
.hotwords {
    position: absolute;
    top: 65px;
    left: 348px;
}
.hotwords a {
    /* a标签上下0 左右边距为12 */
    margin: 0 12px;
}
.shopcar {
    position: absolute;
    top: 25px;
    right: 64px;
    width: 138px;
    height: 34px;
    border: 1px solid #dfdfdf;
    background-color: #f7f7f7;
    /* 购物车文字上下居中对齐 */
    line-height: 34px;
    /* 左右居中对齐 */
    text-align: center;
}
.shopcar .car {
    font-family: 'icomoon';
    color: #da5555;
}
.shopcar .arrow {
    font-family: 'icomoon';
    margin-left: 5px;
}
.shopcar .count {
    /* 定位的盒子转换为了行内块元素 */
    position: absolute;
    top: -5px;
    /* 应该是左侧对齐,当购物车中的数据增多的时候才能向右走显示 */
    left: 100px;
    background-color: #e60012;
    height: 14px;
    /* 指定行高,不指定的话会继承父元素的行高 */
    line-height: 14px;
    padding: 0 3px;
    color: #fff;
    /* 小圆角的显示效果 */
    border-radius: 7px 7px 7px 0;
}
.nav {
    height: 45px;
    border-bottom: 2px solid #b1191a;
}
.dropdown {
    width: 209px;
    height: 45px;
    background-color: pink;
}
.dropdown .dt {
    /* dt盒子的宽度,高度和父盒子一样 */
    width: 100%;
    height: 100%;
    background-color: #b1191a;
    font-size: 16px;
    color: #fff;
    /* 正中间居中显示 */
    text-align: center;
    line-height: 45px;
}
.dropdown .dd {
    height: 465px;
    background-color: #c81623;
    margin-top: 2px;
}
.menu_item {
    height: 31px;
    line-height: 31px;
    margin-left: 2px;
    /* 因为li没有设置宽度,所以不会撑开盒子 */
    padding: 0 10px;
    /* 添加过渡动画,鼠标经过的时候向左移动20px */
    transition: padding-left 0.5s;
}
.menu_item:hover {
    background-color: #fff;
    padding-left: 20px;
}
/* 鼠标经过li的时候,里面的a变颜色 */
.menu_item:hover a {
    color: #c81623;
}
/* li标签里面的a标签 */
.menu_item a {
    font-size: 14px;
    color: #fff;
}
.menu_item i {
    /* 浮动,靠右对齐 */
    float: right;
    font-family: 'icomoon';
    font-size: 18px;
    color: #fff;
}
/* 导航栏部分 */
.navitem {
    margin-left: 10px;
}
.navitem li {
    float: left;
}
.navitem li a {
    /* a标签转换为块级元素 */
    display: block;
    /* 高度和父亲一样高,因为字数不一样,所以不能指定宽度 */
    height: 45px;
    padding: 0 25px;
    line-height: 45px;
    font-size: 16px;
}
/* 底部footer */
.footer {
    height: 386px;
    background-color: #f5f5f5;
    padding-top: 30px;
}
.mod_service {
    height: 79px;
    border-bottom: 1px solid #ccc;
}
.mod_service li {
    float: left;
    width: 240px;
    height: 79px;
}
.mod_service_icon {
    /* 这个i元素添加了浮动,浮动可以给大小,不需要转换 */
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 35px;
    background: url(../img/icons.png) no-repeat;
}
.mod_service_zheng {
    background-position: -253px -3px;
}
.mod_service_kuai {
    background-position: -255px -54px;
}
.mod_service_bao {
    background-position: -257px -105px;
}
.mod_service_tit {
    float: left;
    margin-left: 5px;
}
.mod_service_tit h5 {
    margin: 5px 0;
}
.mod-help {
    height: 187px;
    border-bottom: 1px solid #ccc;
}
.mod-help-item {
    float: left;
    width: 150px;
    padding: 20px 0 0 50px;
}
.mod-help-item dt {
    height: 25px;
    font-size: 16px;
}
.mod-help-item dd {
    height: 22px;
}
.mod-help-app dt,
.mod-help-app p {
    padding-left: 15px;
}
.mod-help-app img {
    margin: 7px 0;
}
.mod_copyright {
    text-align: center;
}
.mod_copyright_links {
    margin: 20px 0 15px 0;
}
.mod_copyright_info {
    /* 控制行和行之间的距离 */
    line-height: 18px;
}