li {
    list-style: none;
}

/* 添加伪类选择器,这个选择器IE浏览器并不支持 */
::placeholder {
    color: red;
}

#box {
    width: 580px;
    height: 340px;
    background-color: pink;
    background: url('../images/1.jpg');
}